{$SITE_ADDRESS::80} {
    encode zstd gzip

    handle_path /static/* {
        root * /srv/static
        file_server
    }

    handle_path /uploads/* {
        root * /srv/uploads
        file_server
    }

    handle {
        reverse_proxy web:8000
    }
}
