@font-face {
    font-family: 'head';
    src: url('../font/head.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'head2';
    src: url('../font/head2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: rgba(66, 34, 35, 1);
}
.a {
    color: rgba(241, 237, 226, 0.6);
    margin: 0;
    font-family: 'head';
    font-weight: 200;
    font-size: 16px;
    line-height: 100%;
}
.conteiner {
    background-color: rgba(66, 34, 35, 1);
    width: 100%;
    min-height: 7px;
    min-width: 1440px;
    display: flex;
    flex-direction: column;
}
.header {
    margin-left: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    flex-shrink: 0;
}
.logo img {
    width: 100%;
    max-width: 131px;
    height: auto;
}
.nav-list {
    display: flex;
    margin: 0;
    padding-top: 30px;
    flex-wrap: wrap;
    gap: 36px;
    font-size: 16px;
    color:rgba(255, 246, 243, 1);
    list-style-type: none;
    margin-left: 30px;
    font-family: 'head', Arial, sans-serif; /* вот так! */
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}
.nav-list2 {
    display: flex;
    margin: 0;
    padding-top: 30px;
    flex-wrap: wrap;
    gap: 30px;
    font-size: 16px;
    color:rgba(255, 246, 243, 1);
    list-style-type: none;
    margin-left: 30px;
    font-family: 'head2', Arial, sans-serif; /* вот так! */
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}
.nav-link {
    color: rgba(255, 246, 243, 1);
    text-decoration: none;
    min-width: 87px;
}
