.search-bar {
      display: flex;
      justify-content: center;
      padding: 24px;
      flex-shrink: 0;
    }
.search-bar input {
    padding-top:0 ;
    width: 100%;
    max-width: 1170px;
    height: 80px;
    min-width: 1170px;
    padding: 12px 24px;
    border-radius: 7px;
    font-size: 16px;
    border: none;
    outline: none;
    box-sizing: border-box;
    max-width: 600px;
}