
@font-face {
    font-family: 'head';
    src: url('../font/head.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



    .slider {
      position: relative;
      width: 90%;
      max-width: 1300px;
      min-height: 585px;
      margin: 20px auto;
      margin-top: -40px;
      margin-bottom: 0;
      overflow: hidden;
      flex-shrink: 0;
      border-radius: 12px;
    }
    .slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
      height: 585px;
    }
    .slide {
      flex: 0 0 100%;
      display: flex;
      align-items: stretch;
      height: 585px;
      box-sizing: border-box;
      position: relative;
      background: none;
    }
    .slide-text {
      flex: 1 1 40%;
      min-width: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 2;
      color: rgba(241, 237, 226, 1);
      padding: 0 0 0 40px;
    }
    .slide-text .big{
      font-family: 'head';
      font-weight: 300;
      font-size: 80px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      margin: 0 0 18px 0;
    }
    .slide-text .medium{
      font-family: 'head';
      font-weight: 300;
      font-size: 36px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      margin: 0 0 24px 0;
    }
    .slide-text .min{
      font-family: 'head';
      font-weight: 300;
      font-size: 18px;
      line-height: 130%;
      letter-spacing: 0%;
      color:rgba(241, 237, 226, 0.6);
      margin-top: 32px;
      margin-bottom: 0;
    }
    .slide-buttons {
      display: flex;
      gap: 18px;
      margin-top: 12px;
    }
    .slide-btn {
      padding: 16px 32px;
      border: none;
      border-radius: 8px;
      font-size: 18px;
      font-family: 'head';
      font-weight: 500;
      cursor: pointer;
      transition: background .2s, color .2s, border .2s;
    }
    .slide-btn.white {
      background: #fff;
      color: #421e23;
    }
    .slide-btn.white:hover {
      background: #ececec;
      color: #421e23;
    }
    .slide-btn.green {
      background: #4BB543;
      color: #fff;
    }
    .slide-btn.green:hover {
      background: #38912e;
      color: #fff;
    }
    .slide-image {
      flex: 1 1 60%;
      min-width: 756px;
      min-height: 585px;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      z-index: 1;
      
    }
    .slide-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
      min-width: 756px;
      min-height: 585px;
      border-radius: 0 12px 12px 0;
      display: block;
    }
    .slide-image2 {
      flex: 1 1 60%;
      min-width: 756px;
      min-height: 585px;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      z-index: 1;
      
    }
    .slide-image2 img {
      
      height: 100%;
      object-fit: cover;
      object-position: right;
     
      border-radius: 0 12px 12px 0;
      display: block;
    }
    .slide-image3 {
      flex: 1 1 60%;
      min-width: 756px;
      min-height: 585px;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      z-index: 1;
      
    }
    .slide-image3 img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: right;
      min-width: 756px;
      min-height: 585px;
      border-radius: 0 12px 12px 0;
      display: block;
    }
    .dots {
      position: absolute;
      bottom: 18px;
      left: 40px;
      display: flex;
      gap: 10px;
      z-index: 10;
    }