/* Контейнер для аккордеона */
.accordion-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #F5F5F5;
}
.accordion-container button{
    font-size: 20px;
    font-family: Muller-regular;
    background-color: #F5F5F5;
}
.accordion-panel p {
    margin-left: 10px;
    font-size: 20px;
    background-color: #F5F5F5;
    font-family: Muller-regular;

}


/* Стили для вкладок аккордеона */
.accordion-tab {
    cursor: pointer;
    color: black;
    padding: 30px;
    padding-left: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    transition: 0.4s;
}

/* Стили для активной вкладки */
.active,
.accordion-tab:hover {
}

/* Стили для панели аккордеона */
.accordion-panel {
    align-content: center;
    padding: 0 18px;
    overflow: hidden;
    height: 0;
    transition: max-height 0.2s ease-out;
}

.mini-headr {
    font-family: Muller-medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    color: #422223
}
.ll {
    line-height: 100%; letter-spacing: 0%;
}
.menu-image {
      margin-top: 5px;
    }
    .na-link .menu-toggle {
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 1001;
      top: 20px;
      right: 20px;
      background-color: rgba(66, 34, 35, 1);
      margin-right: 20px;
    }
    .na-link .menu-toggle span {
      display: block;
      width: 30px;
      height: 3px;
      margin: 6px 0;
      transition: 0.4s;
    }



    #blur-bg {
      display: none;
      position: fixed;
      top: 0; left: 0; right: 0; bottom: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0,0,0,0.13);
      backdrop-filter: blur(8px);
      z-index: 999;
      transition: opacity .2s;
      cursor: pointer;
    }
    #blur-bg.active {
      display: block;
      opacity: 1;
    }
    .side-menu {
      position: fixed;
      top: 0;
      right: -100%;
      width: 80%;
      max-width: 440px;
      height: 100%;
      background: #fff;
      overflow-y: auto;
      transition: right 0.3s ease-in-out;
      z-index: 1000;
      padding: 20px;
        padding-left: 50px;
    }
    .side-menu.active {
      right: 0;
    }
    .side-menu .logo img {
      width: 100px;
      margin-bottom: 20px;
    }
    .side-menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .side-menu li {
      margin-bottom: 15px;
    }
    .side-menu a {
      text-decoration: none;
      color: #421e23;
      font-size: 16px;
      font-weight: 500;
    }
    .side-menu .contacts {
      margin-top: 20px;
      font-size: 14px;
      color: #421e23;
    }
    .menuuu a {
        font-family: Muller-medium;
        font-weight: 500;
        font-size: 18px;
        color: black;
        opacity: 50%;
    }