.site-footer {
  position: relative;
  height: 278px;
  border-top: 2px solid #d1cfcf;
  padding: 34px 0 14px 0;
  font-family: 'Montserrat', 'Arial', sans-serif;
  color: #422223;
  font-size: 15px;
  margin-top: 0;
}
.footer-top {
  max-width: 1180px;
  margin: 0 auto 22px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px 40px;
  align-items: flex-end;
  justify-content: flex-start;
}
.footer-top .footer-menu {
  display: flex;
  padding-bottom: 18px;
  gap: 30px;
  flex-wrap: wrap;
  flex: 1;
}
.footer-top .footer-menu a {
  color: #422223;
  font-family: Muller-regular;
  text-decoration: none;
  font-weight: 400;
  transition: color .16s;
  font-size: 15px;
}
.footer-top .footer-menu a:hover {
  color: #a34b38;
  text-decoration: underline;
}
.footer-top .footer-info-block {
  display: flex;
  flex-direction: row;
  gap: 34px;
  flex-shrink: 0;
  align-items: flex-end;
}
.footer-top .footer-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.2;
  margin-right: 10px;
}
.footer-info a{
  color: #422223;
}
.footer-top .footer-info .footer-info-title {
  font-family: Muller-medium;
  /* font-weight: 600; */
  color: #422223;
  font-size: 15px;
}
.footer-top .footer-info .footer-info-sub {
  color: #b4b4b4;
  font-family: Muller-light;
  font-size: 13px;
  margin-top: 2px;
}


.site-footer hr {
  border: none;
  border-top: 1px solid #d1cfcf;
  margin: 18px 0 28px 0;
}
.footer-bottom {
  max-width: 980px;
  margin: 0 auto;
  color: #6e6867;
  font-size: 13px;
}
.footer-bottom .footer-bottom-title {
  font-weight: 500;
  margin-bottom: 6px;
}
.footer-bottom-links {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 38px;
  margin: 10px 0 0 0;
}
.footer-bottom-links a {
  color: #8f8a86;
  text-decoration: none;
  transition: color .15s;
  font-size: 13px;
}
.footer-bottom-links a:hover {
  color: #e15a6a;
  text-decoration: underline;
}
.footer-bottom-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 13px;
  color: #b0b0b0;
}