{% extends "base.html" %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    
      <div style="width: 1200px;
                height: 590px;
                display: flex;
                position: relative;
                justify-content: center;
                gap: 50px;
                width: 1200px;
                margin: 0 auto 48px auto;

                ">
      <div style="position: absolute;
                  top: 118px;
                  left: 146px;
                  font-family:'NAMU';
                  font-weight: 300;
                  font-size: 64px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  text-transform: uppercase;
                  color: rgba(66, 34, 35, 1);
                  ">
        Современные
      </div>
      <div style="position: absolute;
                  top: 195px;
                  left: 0px;
                  font-family:'NAMU';
                  font-weight: 300;
                  font-size: 64px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  text-transform: uppercase;
                  color: rgba(66, 34, 35, 1);">
        фасады —
      </div>
      <div style="position: absolute;
                  top: 195px;
                  left: 400px;
                  font-family:'head';
                  font-weight: 400;
                  font-size: 22px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  color: rgba(66, 34, 35, 1);
                  ">
        ваш надежный партнер в мире облицовочных материалов с 2006 года. Ранее известные как «Кровли из Европы» и «Европейские фасады», 
мы прошли значительный путь и адаптировались к изменениям, 
сохранив при этом основные принципы
      </div>
      <div style="position: absolute;
                  width: 400px;
                  height: 110px;
                  top: 335px;
                  left: 0px;
                  font-family:'head2';
                  font-weight: 400;
                  font-size: 22px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  color:rgba(0, 0, 0, 0.6);">
        Наш опыт охватывает как частный сектор, так многоэтажное 
<br>и социальное строительство, что подтверждает нашу компетентность
      </div>
      <div style="position: absolute;
                  top: 429px;
                  left: 0px;
                  font-family:'head2';
                  font-weight: 400;
                  font-size: 22px;
                  line-height: 100%;
                  letter-spacing: 0%;

                  text-decoration: underline;
                  text-decoration: none;">

        
      </div>

    </div>
    
     <div class="stats-section">
      <div class="stats-card">
        <div style="position: absolute;
                    top: 60px; 
                    left: 145px;">
          <img style="width: 162; height: 189px;" src="{% static 'imgfolder/status1.png' %}" alt="">
        </div>
        <div style="display: flex;
                    position: absolute;
                    align-items: center;;
                    top: 222px; 
                    left: 25px; 
                    width: 275px;
                    height: 64px;
                    font-family: 'head';
                    font-size: 64px;">
          25
        </div>
        <div style="position: absolute;
                    top: 305px; 
                    left: 25px;
                    width: 330px;
                    height: 110px;
                    font-family: 'head2';
                    font-size: 22px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.6);
                    line-height: 100%;">
          являемся официальными дилерами 22 заводов-производителей, включая такие заводы, как ЛСР, Ликолор и Скрябин Керамикс
        </div>
      </div>
      <div class="stats-card">
        <div style="position: absolute;
                    top: 37px; 
                    left: 156px; ">
          <img style="width: 188px;" src="{% static 'imgfolder/status2.png' %}" alt="">
        </div>
        <div style="display: flex;
                    position: absolute;
                    align-items: center;;
                    top: 222px; 
                    left: 21px; 
                    width: 275px;
                    height: 64px;
                    font-family: 'head';
                    font-size: 64px;">
           +1500
        </div>
        <div style="position: absolute;
                    top: 305px; 
                    left: 20px;
                    width: 350px;
                    height: 110px;
                    font-family: 'head2';
                    font-size: 22px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.6);
                    line-height: 100%;">
          реализовали около 1500 проектов, среди которых — такие значимые объекты, как Пермская художественная галерея, гостиница, ЖК «UNO»
        </div>
      </div>
      <div class="stats-card">
        <div style="position: absolute;
                    top: 41px; 
                    left: 115px;">
          <img src="{% static 'imgfolder/status3.png' %}" alt="">
        </div>
        <div style="display: flex;
                    position: absolute;
                    align-items: center;
                    top: 222px;
                    left: 32px; 
                    width: 275px;
                    height: 64px;
                    font-family: 'head';
                    font-size: 64px;">
          >300
        </div>
        <div style="position: absolute;
                    top: 305px; 
                    left: 31px;
                    width: 333px;
                    height: 110px;
                    font-family: 'head2';
                    font-size: 22px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.6);
                    line-height: 100%;">
          в нашем офисе вас встретят дружелюбные менеджеры, готовые помочь вам выбрать из более, чем 300 позиций товаров
        </div>
      </div>
    </div>
    
{% endblock %}