{% extends "base.html" %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    
      <div style="width: 1200px;
                height: 590px;
                display: flex;
                position: relative;
                justify-content: center;
                gap: 50px;
                width: 1200px;
                margin: 0 auto 48px auto;

                ">
      <div style="position: absolute;
                  top: 118px;
                  left: 146px;
                  font-family:'NAMU';
                  font-weight: 300;
                  font-size: 64px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  text-transform: uppercase;
                  color: rgba(66, 34, 35, 1);
                  ">
        Современные
      </div>
      <div style="position: absolute;
                  top: 195px;
                  left: 0px;
                  font-family:'NAMU';
                  font-weight: 300;
                  font-size: 64px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  text-transform: uppercase;
                  color: rgba(66, 34, 35, 1);">
        фасады —
      </div>
      <div style="position: absolute;
                  top: 195px;
                  left: 400px;
                  font-family:'head';
                  font-weight: 400;
                  font-size: 22px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  color: rgba(66, 34, 35, 1);
                  ">
        ваш надежный партнер в мире облицовочных материалов с 2006 года. Ранее известные как «Кровли из Европы» и «Европейские фасады», 
мы прошли значительный путь и адаптировались к изменениям, 
сохранив при этом основные принципы
      </div>
      <div style="position: absolute;
                  width: 400px;
                  height: 110px;
                  top: 335px;
                  left: 0px;
                  font-family:'head2';
                  font-weight: 400;
                  font-size: 22px;
                  line-height: 100%;
                  letter-spacing: 0%;
                  color:rgba(0, 0, 0, 0.6);">
        Наш опыт охватывает как частный сектор, так многоэтажное 
<br>и социальное строительство, что подтверждает нашу компетентность
      </div>
      <div style="position: absolute;
                  top: 429px;
                  left: 0px;
                  font-family:'head2';
                  font-weight: 400;
                  font-size: 22px;
                  line-height: 100%;
                  letter-spacing: 0%;

                  text-decoration: underline;
                  text-decoration: none;">

        
      </div>

    </div>
    
     <div class="stats-section">
      <div class="stats-card">
        <div style="position: absolute;
                    top: 60px; 
                    left: 145px;">
          <img style="width: 162; height: 189px;" src="{% static 'imgfolder/status1.png' %}" alt="">
        </div>
        <div style="display: flex;
                    position: absolute;
                    align-items: center;;
                    top: 222px; 
                    left: 25px; 
                    width: 275px;
                    height: 64px;
                    font-family: 'head';
                    font-size: 64px;">
          25
        </div>
        <div style="position: absolute;
                    top: 305px; 
                    left: 25px;
                    width: 330px;
                    height: 110px;
                    font-family: 'head2';
                    font-size: 22px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.6);
                    line-height: 100%;">
          являемся официальными дилерами 22 заводов-производителей, включая такие заводы, как ЛСР, Ликолор и Скрябин Керамикс
        </div>
      </div>
      <div class="stats-card">
        <div style="position: absolute;
                    top: 37px; 
                    left: 156px; ">
          <img style="width: 188px;" src="{% static 'imgfolder/status2.png' %}" alt="">
        </div>
        <div style="display: flex;
                    position: absolute;
                    align-items: center;;
                    top: 222px; 
                    left: 21px; 
                    width: 275px;
                    height: 64px;
                    font-family: 'head';
                    font-size: 64px;">
           +1500
        </div>
        <div style="position: absolute;
                    top: 305px; 
                    left: 20px;
                    width: 350px;
                    height: 110px;
                    font-family: 'head2';
                    font-size: 22px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.6);
                    line-height: 100%;">
          реализовали около 1500 проектов, среди которых — такие значимые объекты, как Пермская художественная галерея, гостиница, ЖК «UNO»
        </div>
      </div>
      <div class="stats-card">
        <div style="position: absolute;
                    top: 41px; 
                    left: 115px;">
          <img src="{% static 'imgfolder/status3.png' %}" alt="">
        </div>
        <div style="display: flex;
                    position: absolute;
                    align-items: center;
                    top: 222px;
                    left: 32px; 
                    width: 275px;
                    height: 64px;
                    font-family: 'head';
                    font-size: 64px;">
          >300
        </div>
        <div style="position: absolute;
                    top: 305px; 
                    left: 31px;
                    width: 333px;
                    height: 110px;
                    font-family: 'head2';
                    font-size: 22px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.6);
                    line-height: 100%;">
          в нашем офисе вас встретят дружелюбные менеджеры, готовые помочь вам выбрать из более, чем 300 позиций товаров
        </div>
      </div>
    </div>

    
      <!-- все в центр -->

    <div style="display: flex; justify-content: center;">
  <!-- блок с таблицей -->
   <div>
        
        <!-- основные принцыпы -->

    <div class="info_holder">
        <h5>Основные принципы</h5>
         
  <div class="feature-grid">
      <!-- Первая строка -->
      <div class="column small descript highlight-right highlight-bottom">
        <h3>Честные и прозрачные цены</h3>
        <p>Мы придерживаемся стабильной ценовой <br> политики, чтобы вы всегда знали, что получаете <br> лучшее предложение</p>
      </div>
      <div class="column small descript highlight-bottom halfm">
        <h3>Непревзойденное качество</h3>
        <p>Наша цель - предоставить материалы, которые будут радовать вас долгие годы</p>
      </div>
      <div class="column small descript highlight-bottom halfm">
        <h3>Разнообразие решений</h3>
        <p>У нас вы найдёте множество привлекательных материалов, которые подчеркнут индивидуальность вашего проекта</p>
      </div>
      <div class="column small descript highlight-right highlight-bottom halfm">
        <h3>Ценность времени</h3>
        <p>Мы понимаем, как важно время, и стремимся доставить всё точно в срок, либо заранее сообщим об изменениях</p>
      </div>

      <!-- Вторая строка кортинки домов -->
      <div class="column highlight-right" style="height: 206px">
          <img src="{% static 'imgfolder/about_first_row/image 88.png' %}" alt="">
      </div>
      <div class="column highlight-right" style="height: 206px">
          <img src="{% static 'imgfolder/about_first_row/image 85.png' %}" alt="">
      </div>
      <div class="column" style="height: 206px">
          <img src="{% static 'imgfolder/about_first_row/image 86.png' %}" alt="">
      </div>
      <div class="column" style="height: 206px">
          <img src="{% static 'imgfolder/about_first_row/image 87.png' %}" alt="">
      </div>
      <!-- третья строка почему выбирают нас  -->
      <div class="column minheight ">
          <div style="height: 64px"></div>
          <h5 style="font-family: Muller-medium; font-size: 24px; font-weight: 500; line-height: 100%; color: #422223">Почему выбирают нас</h5>
      </div>
      <div class="column minheight highlight-right ">
      </div>
      <div class="column minheight highlight-right ">
      </div>
      <div class="column minheight ">
      </div>



    </div>
    
        
    </div>



            <!-- вторая таблица -->


    <div class="info_holder">
     
         
  <div class="feature-grid">
            {#      первая строка#}
      <div class="column highlight-bottom descript medium">
        <h3>Масштаб и опыт</h3>
        <p>19 лет успешной работы и более 1500 реализованных объектов. Благодаря опыту мы точно знаем добросовестных производителей</p>
      </div>
      <div class="column highlight-bottom highlight-right halfm descript medium">
        <h3>Отечественный продукт</h3>
        <p>Технологии <br> современного <br> российского <br> производства <br>клинкерного и <br>керамического кирпича позволяют создавать продукт устойчивый к особенностям нашей окружающей среды</p>
      </div>
      <div class="column highlight-bottom highlight-right halfm descript medium">
        <h3>Премиальный импорт</h3>
        <p>Оригинальный немецкий клинкер напрямую от производителя!. Предоставляем <br>документы, подтверждающие европейское качество и соответствие стандартам DIN и ISO</p>
      </div>
      <div class="column highlight-bottom halfm descript medium">
        <h3>Индивидуальный подход</h3>
        <p>Подберем материалы максимально подходящие под ваш проект по стилю, форме и фактуре. Наши специалисты найдут решение даже для самых смелых архитектурных решений</p>
      </div>
      
      
      
      
      <!-- вторая строка -->
      
      
      
      
      
      
      <div class="column highlight-right descript medium">
          <div class="mg-head-about-top">
        <h3 class="mg-head-about-top">Открытость</h3>
              </div>
        <p style="width: 241px">Мы не скрываем <br>достоинства и <br>недостатки нашего продукта и смело можем рассказать о трудностях с которыми вы можете столкнуться при выкладке, например, как избежать высылов</p>
      </div>
      <div class="column halfm descript medium">
          <div class="mg-head-about-top">
        <h3>Визуализация проекта</h3>
              </div>
        <p>Предоставляем бесплатный 3D-макет объекта при заказе от определенного объема товара</p>
      </div>
      <div class="column halfm descript medium">
          <div class="mg-head-about-top">
        <h3>Прямые поставки</h3>
          </div>
        <p>Выгодные условия сотрудничества благодаря статусу официальных дилеров 22 производственных предприятий</p>
      </div>
      <div class="column highlight-right halfm descript medium">
          <div class="mg-head-about-top">
        <h3>Сервисная поддержка</h3>
          </div>    
        <p>Наши специалисты на связи даже после завершения сделки</p>
      </div>

      
{#      Картинки2#}
      
      
      
      <div class="column highlight-right" style="height: 206px">
          <img src="{% static 'imgfolder/about_first_row/image 92.png' %}" alt="">
      </div>
      <div class="column " style="height: 206px">
          <img src="{% static 'imgfolder/about_first_row/image 89.png' %}" alt="">
      </div>
      <div class="column" style="height: 206px">
          <img src="{% static 'imgfolder/about_first_row/image 90.png' %}" alt="">
      </div>
      <div class="column highlight-right" style="height: 206px">
          <img src="{% static 'imgfolder/about_first_row/image 91.png' %}" alt="">
      </div>
    </div>

    </div>
    </div>
</div>

    
    <div style="height: 130px"></div>
    
    
<div class="callback-form-section" id="callback-form" >
  <div class="callback-form-title">ЗАЯВКА НА ОБРАТНЫЙ ЗВОНОК</div>
  <div class="callback-form-subtitle">
    Подберем материалы максимально подходящие под ваш проект по стилю, форме и фактуре.<br>
    Наши специалисты найдут решение даже для самых смелых архитектурных решений
  </div>
  <form>
    <div class="callback-form-row">
      <div class="callback-form-fields">
        <label>Сведения о заявителе</label>
        <div class="callback-form-fields-grid">
          <input type="text" placeholder="Имя" name="name" required>
          <input type="email" placeholder="Email" name="email" required>
          <input type="text" placeholder="Фамилия" name="surname">
          <input type="text" placeholder="Телефон" name="phone" required>
        </div>
      </div>
      <div class="callback-form-info">
        <label>Информация о проекте</label>
        <textarea placeholder="Краткое описание" name="about"></textarea>
      </div>
    </div>
    <div class="callback-form-bottom">
      <div class="callback-form-note">
        <svg fill="none" stroke="#aaa" stroke-width="2" viewBox="0 0 16 16"><circle cx="8" cy="8" r="7"/><line x1="8" y1="4" x2="8" y2="8"/><circle cx="8" cy="11" r="1" fill="#aaa"/></svg>
        Мы гарантируем полное соблюдение ваших интеллектуальных прав на разработку и конфиденциальности предоставленной информации.
      </div>
      <button type="submit" class="callback-form-btn">Оставить заявку</button>
    </div>
  </form>
</div>
{% endblock %}