{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}My amazing site{% endblock %}</title>
    <style>
        body {
            background-color: #F5F5F5;
        }

        @font-face {

            font-family: "Muller-ultralight";

            src: url("{% static 'font/MullerUltraLight.ttf' %}") format("truetype");
            font-style: normal;
            font-weight: normal;
        }

        @font-face {

            font-family: "Muller-medium";

            src: url("{% static 'font/MullerMedium.ttf' %}") format("truetype");
            font-style: normal;
            font-weight: normal;
        }

        @font-face {

            font-family: "Muller-light";

            src: url("{% static 'font/Muller-Light.otf' %}") format("truetype");
            font-style: normal;
            font-weight: normal;
        }

        @font-face {

            font-family: "Muller-regular";

            src: url("{% static 'font/Muller-Regular.otf' %}") format("truetype");
            font-style: normal;
            font-weight: normal;
        }
        
    </style>
</head>
<body>
{% include  "header.html" %}


{% block content %}{% endblock %}

{#    ОТВЕТЫ НА ВОПРОСЫ#}

{% for question in questions %}


   <!-- <div class="accordion-container">
    <button class="accordion-tab">{{ question.name }}</button>

    <div class="accordion-panel">
        <p>{{ question.description }}</p>
    </div>-->




{% endfor %}



</div>

{#    ФУТЕР#}
<div class="logos-section">
  <div style=" justify-items: center;">
    <div class="logos-section-title">
        <p>Мы являемся официальными дилерами 22 заводов-производителей</p> 
  </div>
  </div>
  
  <div class="logos-grid">
    <div class="logo-card">
      <img src="{% static 'imgfolder/logo1.png' %}" alt="Пятый элемент">
    </div>
    <div class="logo-card">
      <img src="{% static 'imgfolder/logo2.png' %}" alt="ARHIO">
    </div>
    <div class="logo-card">
      <img src="{% static 'imgfolder/logo3.png' %}" alt="Recke Brickerei">
    </div>
    <div class="logo-card">
      <img src="{% static 'imgfolder/logo4.png' %}" alt="Laterem Antique">
    </div>
    <div class="logo-card">
      <img src="{% static 'imgfolder/logo5.png' %}" alt="Skriaibin Ceramics">
    </div>
    <div class="logo-card">
      <img src="{% static 'imgfolder/logo6.png' %}" alt="ЛСР">
    </div>
    <div class="logo-card">
      <img src="{% static 'imgfolder/logo7.png' %}" alt="Царский Кирпич">
    </div>
    <div class="logo-card">
      <img src="{% static 'imgfolder/logo8.png' %}" alt="Ströher">
    </div>
  </div>
</div>





<div class="contacts-section">
  <div class="contacts-grid">
    <div class="contacts-card">
      <div class="contacts-title">Расположение</div>
      <div class="contacts-body">
        <div >
          
        </div>
        Газеты Звезда, 13, 4 этаж <br>
        <span class="contacts-note"><b>ТЦ ЗВЕЗДА</b></span>
      </div>
    </div>
    <div class="contacts-card">
      <div class="contacts-title">Режим работы</div>
      <div class="contacts-body">
        пн–пт 09:00–18:00 <br>
        <span class="contacts-note">В выходные не работаем</span>
      </div>
    </div>
    <div class="contacts-card">
      <div class="contacts-title">Контактная информация</div>
      <div class="contacts-body">
        <a class="contacts-link" href="tel:+79519401249">+7 (951) 940-12-49</a>
        <div class="contacts-note">Приём звонков: с 9:00–18:00</div>
      </div>
    </div>
    <div class="contacts-card">
      <div class="contacts-title">Карта с указанием адреса офиса</div>
      <div class="contacts-body">
        
        <div style="max-width: 600px; margin: 0 auto;">
        <iframe
        width="100%"
        height="250px"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A3e0ca89687f8fa169e7ba1ea01a97845935621b5755aeb66eed1aba51ce37cc8&amp;source=constructor"
        style="border-radius:8px;">
      </iframe>
      <br>
    </div>

      </div>
    </div>


<footer class="site-footer">
    <div class="footer-top">
        <nav class="footer-menu">
            <a href="#">Продукция</a>
            <a href="#">Галерея</a>
            <a href="#">Вопросы-ответы</a>
            <a href="#">Контакты</a>
        </nav>
        <div class="footer-info-block">
            <div class="footer-info">
                <div class="footer-info-title"><a>Пермь, Газеты Звезда 13, 4 этаж</a></div>
                <div class="footer-info-sub">контактный адрес шоу-рума</div>
            </div>
            <div class="footer-info">
                <div class="footer-info-title"><a href="tel:+79519401249" style="text-decoration:none;">+7 (951)
                    940-12-49</a></div>
                <div class="footer-info-sub">номер для связи</div>
            </div>
            <div class="footer-info">
                <div class="footer-info-title"><a href="mailto:evrokrovliof@mail.ru" style="text-decoration:none;">evrokrovliof@mail.ru</a>
                </div>
                <div class="footer-info-sub">электронная почта</div>
            </div>
        </div>
    </div>
    <div style="height: 30px;"></div>
    <div style="display: flex; justify-content: center;">
        <div class="footer-group" style="width: 1200px; display: flex; justify-content: right;">
            <div><img src="{% static 'imgfolder/dark-logo-footer.png' %}" alt=""
                      style="height: 189px; width: 383px; margin-right: 100px"></div>
            <div style="display: flex; align-items: end;">

                <div style="display: flex;flex-direction: column;color: rgba(0, 0, 0, 0.6);text-decoration: none;">
                    <a style="color: inherit;color: rgba(0, 0, 0, 0.7);text-decoration: none; border-bottom: 30px;"
                       href="#">Информация</a>
                    <div style="height: 36px;"></div>
                    <a style="color: inherit;text-decoration: none;" href="#">Политика конфиденциальности</a>
                    <a style="margin-top: 20px; margin-bottom: 20px;color: inherit; text-decoration: none;" href="#">Пользовательское
                        соглашение</a>
                    <a style="color: inherit;text-decoration: none;" href="#">Политика использования Cookies</a>
                </div>
                <div style="margin-left: 37px;">
                    <a style="color:rgba(0, 0, 0, 0.7) ;text-decoration: none; " href="#">Сообщить об ошибке</a>
                    <div style="height: 18px;"></div>
                    <div style="display: flex;">
                        <p style="margin: 0px 4px 0px 0px;">&copy;</p>

                        <span style="color: rgba(0, 0, 0, 0.6); font-family: Muller-light;"> 2025 Современные фасады. Все права сайта защищены</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px"></div>

</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
<script>var acc = document.getElementsByClassName("accordion-tab");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
            panel.style.maxHeight = null;
        } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
        }
    });
}</script>
</body>
</html>